descargas_tmp/
nacimientos_acumulado.xlsx
debug_ultima_consulta.png
debug_ultima_consulta.html
debug_tras_check_sala*.png
debug_fallo_sectores_sala*.png
debug_fallo_sectores_sala*.html
debug_fallo_salir_sala*.png
